<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./layout2.css" rel="stylesheet">
    <link rel="stylesheet" href="./fontawesome/css/all.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <div class="product-container">
          <div>
              <i class="fa-solid fa-cart-shopping fa-3x"></i>
              <h4>메뉴1</h4>
              <p>설명</p>
          </div>
          <div>
              <i class="fa-solid fa-shoe-prints fa-3x"></i>
              <h4>메뉴2</h4>
              <p>설명</p>
          </div>
          <div>
              <i class="fa-solid fa-car-rear fa-3x"></i>
              <h4>메뉴3</h4>
              <p>설명</p>
          </div>
          <div>
              <i class="fa-solid fa-carrot fa-3x"></i>
              <h4>메뉴4</h4>
              <p>설명</p>
          </div>
    </div>
    <div class="clear-both"></div>

            </form>
        </div>

    </div>
</body>
</html>