
/* @@@@@@@@@@ 네비게이션 바 @@@@@@@@@@ */
.nav-content {
	margin: 0 35.5px;
	padding: 0 22px;
}
.global-nav {
	height: 50px;
}
.local-nav {
	height: 60px;
	border-bottom: 2px solid lightgray;
	z-index: 9999;
}
.local-nav-sticky .local-nav {
	position: sticky;
	top: 0;
	background: rgba(62, 68, 200, 0.4);
	backdrop-filter: saturate(180%) blur(15px);
	transition: all;
	transition-duration: 2s;
}

.global-nav-links, .local-nav-links {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 50px;
	margin: 0 auto;
}

.global-nav-links .logo {
	/* 첫번째만 왼쪽으로 붙도록 */
	margin-right: auto;
	font-size: 1.5rem;
	font-weight: bold;
}
.local-nav-links {
	justify-content: space-between;
}

.local-nav-links a {
	font-size: 1.1rem;
	-webkit-text-stroke: 1px black;
	color: white;
	font-weight: 800;
}
.global-nav-links a:not(.logo){
	margin-left: 3em;

}
