.container {
  width: 80%;
  margin: 0 auto;
}

.container .header {
  margin-top: 4rem;
}
.search-section {
  margin: 10px;
  text-align: center;
}
.select-section {
  border-bottom: 2px solid black;
}
.select-section .store-selector {
  text-align: center;
}
.btn {
  width: 70px;
  height: 37px;
  font-size: 20px;
  margin-bottom: 12px;
  padding: 0;

}
.store-selector {
  width: 80%;
  font-size: 2rem;
  border: none;
}
.result-section {
  margin: 10px 20px 20px 10px;
}
.result-item {
  display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.search-section .result-item li {
  display: list-item;
}
.search-section .result-item a {
  display: inline-block;
  width: 60px;
  min-width: 30px;
  margin: 5px;
}

.search-section .result-item img {
  width: 50px;
}

.store-info-section .store-picture img{
  width: 250px;
  max-width: 300px;
}

.store-info-section .store-info-summary {
  display: flex;
  min-height: 150px;
  min-width: 300px;
  box-sizing: border-box;
  margin: 25px;
  padding: 25px 20px 25px 30px;
  text-align: left;
  align-items: center;
  border: 5px solid lightgray;
  position: relative;
  word-break: keep-all;
}

.store-info-section .store-info-summary .summary-logo {
  width: 250px;
  /* position: absolute; */
}
.store-info-section .store-info-summary .summary-logo img{
  width: 100%;
}
.store-info-section .store-info-summary .summary-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 50px;

}
.store-info-section .store-info-summary .summary-info dt{
  flex-basis: 30%;
  text-align: left;
  /* margin-bottom: 15px; */
  color: gray;
}
.store-info-section .store-info-summary .summary-info dd{
  flex-basis: 50%;
  margin-left: 20px;
  margin-bottom: 5px;
}

.store-detail {

}
.store-detail .store-desc h5{
  font-size: 17px;
  color: gray;
  font-weight: 500;
}
.store-detail .store-desc {
  margin-bottom: 25px;
}
.store-detail .store-menuinfo {
  margin: 25px;
}
.store-detail .store-menuinfo strong{
  padding-left: 25px;
}





